.task-title{
    margin-left: 2vw;
}
.css-hvi28z {

    overflow-x: hidden;
}
.css-11l5t4l-MuiGrid-root{
    max-width: 24.5vw !important;
}
.css-1u0ix15-MuiGrid-root {
    padding-bottom: 2vh !important;}
.css-1j74uew-MuiPaper-root-MuiCard-root {
    min-height: 23vh !important;
    max-height: 23vh !important;
    overflow-y: auto !important;
}